li {
    background: #f8f9fa;
    border-radius: 0.5rem;
    height: 5.2rem;
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
    margin-bottom: 0.63rem;
    border-left: 0.32rem solid #e9ecef;
  }
  .corEntrada {
    border-left: 0.32rem solid #03b898;
  }
  .salarioDeEntrada {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .salarioDeEntrada > h2 {
    margin-bottom: 0.32rem;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: left;
  }
  .salarioDeEntrada > p {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    color: #868e96;
    text-align: left;
  }
  .excluido {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 10rem;
  }
  .excluido > p {
    font-family: Nunito;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
  }
  .excluido > button {
    height: 1.38rem;
    padding: 0.25rem;
    /* grey-2 */
    border: none;
    background: #e9ecef;
    border-radius:0.16rem;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    cursor: pointer;
  }
  .excluido > button:hover {
    border: 1px solid black;
  }
  @media (max-width: 400px) {
    li {
      width: 83vw;
    }
    .excluido > p {
      margin-left: 0.63rem;
    }
  }